{% extends 'base.html' %}

{% block title %}
Dodaj otpad
{% endblock %}

{% block header %}

<h1 class="ui center aligned header">Dodaj otpad</h1>

{% endblock %}

{% block content %}
<form class="ui form" method="post">
    <h4 class="ui dividing header">Informacije o otpadu</h4>
    <div class="field">
        <label>Ime vlasnika</label>
        <div class="field">
            <input type="text" name="name" placeholder="Ime vlasnika" required>
        </div>
    </div>
    <div class="field">
        <label>Broj telefona</label>
        <div class="field">
            <input type="text" name="phone_number" placeholder="+(381)64-555-666" required>
        </div>
    </div>
    <div class="field">
        <label>Lokacija</label>
        <div class="field">
            <input type="text" name="location" placeholder="Lokacija" required>
        </div>
    </div>
    <div class="field">
        <label>Poljoprivredna kultura</label>
        <div class="field">
            <input type="text" name="culture" placeholder="Kukuruz" required>
        </div>
    </div>
    <div class="field">
        <label>Kolicina</label>
        <div class="field">
            <input type="text" name="amount" placeholder="0 kg" required>
        </div>
    </div>
    <input class="ui button" type="submit" tabindex="0" value="Dodaj">
</form>

{% endblock %}