{% extends 'base.html' %}

{% block title %}
Dodaj otpad
{% endblock %}

{% block header %}

<h1 class="ui center aligned header">Dodaj otpad</h1>

{% endblock %}

{% block content %}
<form class="ui form" method="post">
    <h4 class="ui dividing header">Informacije o otpadu</h4>
    <div class="field">
        <label>Ime vlasnika</label>
        <div class="field">
            <input type="text" name="name" placeholder="Ime vlasnika">
        </div>
    </div>
    <div class="field">
        <label>Broj telefona</label>
        <div class="field">
            <input type="text" name="phone_number" placeholder="+(381)64-555-666">
        </div>
    </div>
    <h4 class="ui dividing header">Kontakt Informacije</h4>
    <div class="field">
        <label>Lokacija</label>
        <div class="field">
            <input type="text" name="location" placeholder="Lokacija">
        </div>
    </div>
    <div class="field">
        <label>Poljoprivredna kultura</label>
        <div class="field">
            <input type="text" name="culture" placeholder="Kukuruz">
        </div>
    </div>
    <div class="field">
        <label>Poljoprivredna kultura</label>
        <div class="field">
            <input type="text" name="culture" placeholder="Kukuruz">
        </div>
    </div>
    <div class="ui button" tabindex="0">Submit Order</div>
</form>

{% endblock %}